body { margin:0; overflow:hidden; background:black; }

#questionBox{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%) scale(0.8);
  width:420px;
  padding:20px;
  background:rgba(0,0,0,0.9);
  border:2px solid cyan;
  border-radius:12px;
  color:white;
  opacity:0;
  transition:.25s;
}

#questionBox.show{
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
}

#quizOverlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  pointer-events:none;
  transition:.25s;
}

#quizOverlay.show{opacity:1;}