body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial;
}

canvas {
  display: block;
  background: #111;
}

#menu {
  position: absolute;
  top: 10px;
  left: 10px;
}

#questionBox {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: white;
  color: black;
  padding: 10px;
}

.hidden {
  display: none;
}